<% provide(:title, 'Home') %>

<div class="center hero-unit">
	<p>Welcome to <h1>BookMyRoom!!!</h1></p>

  <h2>	Conference Room Booking Application  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

  <%= link_to "Available Rooms", room_path, class: "btn btn-large btn-primary" %>


	<div class="right">
		<h6>Powered by</h6>
		<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
	</div>
</div>
